name: Run test suite
on: [pull_request]

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cargo-bins/cargo-binstall@v1.15.10
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo binstall --no-confirm typst-cli
      - run: cargo build --all-features
      - run: cargo test --all-features -- --include-ignored
